<!DOCTYPE HTML>
<html>
	<head class="header">
        <script>
            if((window.location.hash)&&(window.location.hash!=""))
            {
                var hashvalue=window.location.hash;
                var finalData={{entry["hash_urls"] | dump }};
                if(finalData.length>0) {
                    for (i = 0; i < finalData.length; i++) {
                        if (finalData[i]["from"] == hashvalue) {
                            if (finalData[i]["to"].startsWith("/")) {
                                window.location = finalData[i]["to"]
                            } else {
                                if ((finalData[i]["to"]) && (finalData[i]["to"] != "")) {
                                    window.location.hash = finalData[i]["to"]
                                } else {
                                    window.location = window.location.href.split('#')[0]
                                }
                            }
                        }
                    }
                }
            }
        </script>
        {% set version = "?v="+getVersion() %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Built.io Contentstack | Content Delivery API Docs</title>
        <link rel="icon" href="images/favicon.ico{{version}}" />

		<!-- SET: STYLESHEET -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" type="text/css" media="all">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
		<link href="css/highlight.css{{version}}" rel="stylesheet" type="text/css" media="all">
		<link href="css/bootstrap.min.css{{version}}" rel="stylesheet" type="text/css" media="all">
        <link href="css/main.css{{version}}" rel="stylesheet" type="text/css" media="all">
        <!-- END: STYLESHEET -->

		<!-- SET: SCRIPTS -->
		<script src="js/jquery-1.11.1.js{{version}}" type="text/javascript"></script>
		<script src="js/bootstrap.min.js{{version}}" type="text/javascript"></script>
        <script src="js/clipboard.min.js{{version}}" type="text/javascript"></script>
        <script src="js/script.js{{version}}" type="text/javascript"></script>
		<!-- END: SCRIPTS -->

        <script type="text/javascript">
            (function() {
                var didInit = false;
                function initMunchkin() {
                    if(didInit === false) {
                        didInit = true;
                        Munchkin.init('489-WNI-383');
                    }
                }
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//munchkin.marketo.net/munchkin.js';
                s.onreadystatechange = function() {
                    if (this.readyState == 'complete' || this.readyState == 'loaded') {
                        initMunchkin();
                    }
                };
                s.onload = initMunchkin;
                document.getElementsByTagName('head')[0].appendChild(s);
            })();
        </script>
        <script type="application/ld+json">
            {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name" : "Contentstack",
            "url": "https://www.Contentstack.com/",
            "logo": "https://www.contentstack.com/static/images/contentstack-logo-200.png",
            "description":"Contentstack is an API-first, headless CMS giving developers development freedom and marketers a way to engage audiences in realtime, across multiple channels.",
            "sameAs" : [ "https://www.facebook.com/contentstack","https://twitter.com/contentstack","https://www.linkedin.com/company/contentstack","https://github.com/builtio-contentstack" ]
            }
        </script>


        {% if getEnvName() =="staging" %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M52D9BP"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-M52D9BP');</script>
        <!-- End Google Tag Manager-->
        {% endif %}

        {% if getEnvName() =="production" %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WGP99J7"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WGP99J7');</script>
        <!-- End Google Tag Manager -->
        {% endif %}
	</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="https://www.contentstack.com/" target="_blank">
            <img alt="logo" src="images/contentstack-doc-logo.svg">
            <img alt="logo" class="mobile-logo" src="images/contentstack-doc-logo.svg">
            </a>
            <a href="{{getURL('/')}}" class="docLink">Documentation</a>
        </div>
        <div class="right-area clearfix">
            <a class="mob-search">
                <img src="images/search-icon.svg">
            </a>
            <div class="search">
                <a class="hide-search">x</a>
                <div class="s-btn">
                    <img src="images/search-icon.svg">
                </div>
                <form action="{{getURL('/search')}}" method="get">
                    <input type="text" name="search" class="input-bx" placeholder="Search Documentation">
                </form>
            </div>
            <nav>
                <ul>
                    <li><a href="https://contentstack.built.io/#!/login" target="_blank">Log In</a></li>
                </ul>
            </nav>
        </div>
    </header>
    {% block content %}{% endblock %}
	<script src="js/react.min.js{{version}}"></script>
	<script src="js/react-dom.min.js{{version}}"></script>
	<script src="build/bundle.js{{version}}"></script>
</body>
</html>
